
<h1>TEST</h1>
<section>
  <div class="container mt-3 " id="blog-body">
    <!--  Split model into several smaller arrays to generate a row for each 2 items. -->
    <% rows = @articles.split(2) %>
    <% rows.each do |row| %>
      <div class="row">
        <!-- @foreach (var article in row)
         {
           article.UrlPath = article.Title;-->
          <% row.each do | article| %>


        <div class="col-12 col-md-6">
          <div class="panel">
            <div class="panel-heading">
              <!-- <a href="@article.UrlPath">
                 @article.Title
               </a>-->
              <%= link_to "#{article[:title]}", blog_path(article.url_friendly)  %>
            </div>

            <div class="panel-body">
              <a href="">
                <header class="blog-header">
                  <img src="" alt="" class="" />
                </header>
              </a>

              <div class="summary mt-3"><a href="#"></a></div>

              <div class="date mt=2"></div>


            </div>
          </div>
        </div>
        <%end %>
      </div>

    <%end %>
  </div>
</section>
